* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background-color: var(--light);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.header__title {
  font-family: roboto;
  color: var(--primary);
}

.header__description {
  font-family: poppins;
  color: var(--secondary);
}

.options {
  padding-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.card {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
}

.card__title {
  font-family: roboto;
  width: fit-content;
  border-bottom: 1px solid var(--secondary);
}

.card__icon {
  font-size: 4rem;
  color: var(--primary);
}

.card__description {
  padding: 1rem;
  font-family: poppins;
  text-align: center;
}
