@media screen and (min-width: 1024px) {
  .header {
    margin: 3rem;
    font-size: 3rem;
  }
  
  .options {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4rem;
  }
  
  .card {
    font-size: 2rem;
  }
  
  .card__title {
    border-bottom-width: 3px;
  }
  
  .card__icon {
    font-size: 10rem;
  }
}