@media screen and (min-width: 768px) {
  .header {
    margin: 2rem;
    font-size: 2rem;
  }
  
  .principal-menu {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  
  .card {
    width: 30rem;
    height: 30rem;
    font-size: 2rem;
  }
  
  .card__title {
    border-bottom-width: 2px;
  }
  
  .card__icon {
    font-size: 8rem;
  }

  .discount_form {
    width: 600px;
    margin: auto;
  }
}